.industr__item-point.open-fix {
    padding-left: 0;
}
.industr__item-point.open-fix + .industr__item-detail {
    max-height: unset;
}
.footer__col.mobile {
    display: none;
}
.main__sites-item.image-corr img {
    max-height: 47px;
}
.clients__item img {
    max-height: 80px;
    height: 80px;
}
.catalog__filter.no-border {
    border: none;
}
.catalog__filter.no-border .container {
    display: block;
}
.catalog__filter .header__search {
    position: relative;
    width: 100%;
}
.catalog__filter .header__search input {
    position: static;
    transform: none;
}
.company__banner picture,
.company__mission picture,
.company__work-item picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 1200px) {
    .main__sites-item.image-corr img {
        max-height: 32px;
    }
}
@media (max-width: 992px) {
    .demo__banner button {
        margin-top: 0;
    }
    .demo__banner-text {
        margin-bottom: 30px;
    }
    .clients__item img {
        max-height: 70px;
        height: 70px;
    }
}
@media (max-width: 768px) {
    .industr__item-row {
        padding-left: 0;
    }
}
@media (min-width: 576px) {
    .demo__banner h2 br {
        display: none;
    }
}
@media (max-width: 576px) {
    .footer__col {
        display: none;
    }
    .footer__col.mobile {
        display: block;
    }
    .clients__item img {
        max-height: 50px;
        height: 50px;
    }
}